<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <header>
    <div class="header_top">
      {{ page.header_top}}
    </div>
    <div class="header_middle">
      {{ page.header_middle }}
    </div>
    <nav class="header_bottom menu">
      {{ page.menu }}
    </nav>
  </header>

  <main class="main">
    <div class="content">
      {{ page.content }}
    </div>
    {% if page.sidebar %}
    <div class="sidebar">
    </div>
    {% endif %}
  </main>

  <footer>
    {{ page.footer }}
  </footer>
</body>

</html>
